$icon-font-path: "/bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/assets/stylesheets/bootstrap.scss';
@import 'variables';

body {
  margin: 0 auto;
  width: 500px;
  color: $body-text-grey;
}

#title-div {
  text-align: center;

  #title {
    font-size: 60px;
    font-style: italic;
  }
}

#backfire {
  border: 2px solid $firebase-blue;
  border-radius: 5px;
  padding: 20px;
  background: white;

  #new-todo {
    width: 455px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 19px;
  }

  #todo-list {
    list-style: none;
    margin-left: -40px;
    font-size: 20px;

    li {
      margin: 10px 0 10px 0;

      hr {
        border-top: 1px solid $body-text-grey;
      }
    }

    li.done {

      label {
        text-decoration: line-through;
        color: $dark-grey;
      }
    }
  }

  .btn-remove {
    background-color: $firebase-blue;
    color: white;
  }
}

